<div class="card mt-3 forum-self">
    <div class="card-header d-flex bg-white">
        <div>
            <img src="{{post['user'].profileImagePath}}" alt="">
            <p>{{post['dateCreated']}}</p>
        </div>
        <div>
            <h6 class="card-title text-primary">{{post['user'].name}}</h6>
        </div>
    </div>
    <div class="card-body">
        <h4>{{post.title}}</h4>
        <div>{{post.content}}</div>
    </div>
</div>
<hr>
<h4 class="text-info"><i>Answers</i></h4>
<div *ngFor="let answer of answers">
    <div class="card ans-card mt-2">
        <div class="card-title">
            <h6>{{answer.user.name}}</h6>
            <img src="{{answer.user.profileImagePath}}" alt="">
        </div>
        <div class="card-body ans-body">
            <p>{{answer.content}}</p>
        </div>
    </div>
</div>
<div>
    <app-spinner *ngIf="spinner"></app-spinner>
    <div class="form-group">
        <br>
        <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
        <div *ngIf="failedMessage" class="alert alert-danger">{{failedMessage}}</div>
        <form *ngIf="!successMessage" (ngSubmit)="onAddAnswer()" [formGroup]="answerForm">
            <label class="text-primary">Your answer</label>
            <textarea (focus)="answerAreaFocus()" class="form-control mb-1" formControlName="answer" cols="30" rows="4"></textarea>
            <button class="btn btn-info" type="submit">Send</button>
        </form>
    </div>
</div>